<div class="card m-auto col-12 sm:col-6 flex flex-column align-items-stretch">
    <h1 class="text-center">Login</h1>
    <div class="flex flex-column gap-2 mb-4">
        <label for="username">Username</label>
        <input pInputText id="username" [(ngModel)] = "login.username">
      </div>
    <div class="flex flex-column gap-2 mb-4">
        <label for="password">Password</label>
        <p-password [(ngModel)]="login.password" [feedback]="false" [inputStyle]="{'width':'100%'}"/>

      </div>
     <p-button (click)="onLogin()" label="Login" severity="success" class="ml-auto"></p-button>
     <p routerLink="['/']" class="text-center cursor-hover">Return homepage</p>
</div>
