<div class="">
    <div class="m-auto col-12 xl:col-8 flex justify-content-between align-items-center">
        <img [routerLink]="['/']" width="64px" src="../../assets/images/tom.jpg" alt="">
        <div *ngIf="currentUser" class="flex align-items-center gap-2">
            <p  [routerLink]="['./staff']">
               {{currentUser}}
            </p>
            <p-button (click)="logout()"  label="Logout"></p-button>
        </div>
        <div *ngIf="!currentUser" class="">
        
            <p-button [routerLink]="['./login']"  label="Login"></p-button>
        </div>
    </div>

</div>
<router-outlet></router-outlet>

